@charset "ISO-8859-1";

.bg{
	background: #F1F2F4;
}
.profile-bg{
	background:#fff;
}
.btn-width{
	padding:7px 20px;
}
.no_display{
	display:none;
}
.btn-save {
    background-color: #14A800;
    margin-left: 477px;
    color: #fff;
    padding: 7px 30px;
}